<header>
    <i class="fa-solid fa-crown"></i>
    <span>
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-regular fa-bell"></i>
        <hr>
        <p>some stuff here</p>
    </span>
</header>