<section id="sidebar">
    <article id="article-1">
        <h1>A</h1>
        <p id="test">Admin Name</p>
        <p>ADMIN</p>
    </article>
    <article id="article-2">
        <ul>
            <li>
                <a href="/addNew">
                    <i class="fa-regular fa-bell"></i>Add New Products
                </a>
            </li>
            <li>
                <a href="/overviews">
                    <i class="fa-solid fa-house"></i>Overview
                </a>
            </li>
            <li>
                <a href="/manage">
                    <i class="fa-solid fa-database"></i>Manage Products
                </a>
            </li>
            <li><a href="/report">
                    <i class="fa-solid fa-gear"></i>Reports
                </a>
            </li>
            <hr>
            <li>
                <a href="/logout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>Logout
                </a>
            </li>
        </ul>
    </article>
</section>