<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("includes/head")%>
    <link rel="stylesheet" href="/manage.css">
    <title>Manage Products</title>
</head>

<body>
    <%- include("includes/header") %>

    <main>
        <%- include("includes/sidebar") %>
        <section id="section-1">
            <table>
                <tr>
                    <th>Product Name</th>
                    <th>Nafdac Reg Number</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                <tr>
                    <td>coca cola</td>
                    <td>c1-1876</td>
                    <td>Active</td>
                    <td>20/02/1998</td>
                    <td><button>Edit</button></td>
                </tr>
                <tr>
                    <td>coca cola</td>
                    <td>c1-1876</td>
                    <td>Active</td>
                    <td>20/02/1998</td>
                    <td><button>Edit</button></td>
                </tr>
                <tr>
                    <td>coca cola</td>
                    <td>c1-1876</td>
                    <td>Active</td>
                    <td>20/02/1998</td>
                    <td><button>Edit</button></td>
                </tr>
                <tr>
                    <td>coca cola</td>
                    <td>c1-1876</td>
                    <td>Active</td>
                    <td>20/02/1998</td>
                    <td><button>Edit</button></td>
                </tr>
                <tr>
                    <td>coca cola</td>
                    <td>c1-1876</td>
                    <td>Active</td>
                    <td>20/02/1998</td>
                    <td><button>Edit</button></td>
                </tr>
                <tr>
                    <td>coca cola</td>
                    <td>c1-1876</td>
                    <td>Active</td>
                    <td>20/02/1998</td>
                    <td><button>Edit</button></td>
                </tr>
            </table>
    
        </section>

</body>
</html>