<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("includes/head")%>
    <link rel="stylesheet" href="/overview.css">
    <title>Overview</title>
</head>

<body>
    <%- include("includes/header") %>

    <main>
        <%- include("includes/sidebar") %>
        <section id="section-1">
            <article id="article-3">
                <nav>
                    <span>
                        <p>tokenized products</p>
                        <h1>76</h1>
                    </span>
                    <i class="fa-solid fa-box"></i>
                </nav>
                <nav>
                    <span>
                        <p>tokens pending</p>
                        <h1>20</h1>
                    </span>

                    <i class="fa-solid fa-rotate-right"></i>
                </nav>
                <nav>
                    <span>
                        <p>active tokens</p>
                        <h1>56</h1>
                    </span>

                    <i class="fa-regular fa-thumbs-up"></i>
                </nav>
            </article>

            <article id="article-4">
                <h1>Product History</h1>
                <table>
                    <tr>
                        <th>Product Name</th>
                        <th>Nafdac Reg NUmber</th>
                        <th>Status</th>
                        <th>Date</th>
                    </tr>
                    <tr>
                        <td>Beverages</td>
                        <td>C1-1876</td>
                        <td>high</td>
                        <td>20/02/2001</td>
                    </tr>
                    <tr>
                        <td>Beverages</td>
                        <td>C1-1876</td>
                        <td>high</td>
                        <td>20/02/2001</td>
                    </tr>
                    <tr>
                        <td>Beverages</td>
                        <td>C1-1876</td>
                        <td>high</td>
                        <td>20/02/2001</td>
                    </tr>
                    <tr>
                        <td>Beverages</td>
                        <td>C1-1876</td>
                        <td>high</td>
                        <td>20/02/2001</td>
                    </tr>
                    <tr>
                        <td>Beverages</td>
                        <td>C1-1876</td>
                        <td>high</td>
                        <td>20/02/2001</td>
                    </tr>
                    <tr>
                        <td>Beverages</td>
                        <td>C1-1876</td>
                        <td>high</td>
                        <td>20/02/2001</td>
                    </tr>
                </table>
            </article>

            <article id="article-5">
                <div id="div-1">
                    <h1>visitors by state</h1>
                    <table>
                        <tr>
                            <td>anambra</td>
                            <td>90</td>
                            <td>63.5%</td>
                        </tr>
                        <tr>
                            <td>anambra</td>
                            <td>90</td>
                            <td>63.5%</td>
                        </tr>
                        <tr>
                            <td>anambra</td>
                            <td>90</td>
                            <td>63.5%</td>
                        </tr>
                        <tr>
                            <td>anambra</td>
                            <td>90</td>
                            <td>63.5%</td>
                        </tr>
                    </table>
                    <div class="curve-overlay"></div>
                </div>
                <div id="div-2">
                    <img src="32b8e2f8-c06d-4726-8340-f261b5d403b1.jpeg" alt="map">
                </div>
            </article>
        </section>
</body>
</html>