<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("includes/head")%>
    <link rel="stylesheet" href="/reports.css">
    <title>Reports</title>
</head>

<body>
    <%- include("includes/header") %>

    <main>
        <%- include("includes/sidebar") %>
        <section id="section-1">
            <article id="article-3">
                <nav>
                    <span>
                        <p>total reports</p>
                        <h1>76</h1>
                    </span>
                    <i class="fa-solid fa-box"></i>
                </nav>
                <nav>
                    <span>
                        <p>pending reports</p>
                        <h1>20</h1>
                    </span>

                    <i class="fa-solid fa-rotate-right"></i>
                </nav>
                <nav>
                    <span>
                        <p>resolved reports</p>
                        <h1>56</h1>
                    </span>

                    <i class="fa-regular fa-thumbs-up"></i>
                </nav>
                <nav>
                    <span>
                        <p>high priority <br> reports</p>
                        <h1>20</h1>
                    </span>
                    <i class="fa-solid fa-triangle-exclamation"></i>
                </nav>
            </article>

            <article id="article-4">
                <table>
                    <tr>
                        <th>Product Name</th>
                        <th>Nafdsc Reg NUmber</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Beverages</td>
                        <td>C1-1876</td>
                        <td>high</td>
                        <td>20/02/2001</td>
                        <td><button>View</button></td>
                    </tr>
                    <tr>
                        <td>Beverages</td>
                        <td>C1-1876</td>
                        <td>high</td>
                        <td>20/02/2001</td>
                        <td><button>View</button></td>
                    </tr>
                    <tr>
                        <td>Beverages</td>
                        <td>C1-1876</td>
                        <td>high</td>
                        <td>20/02/2001</td>
                        <td><button>View</button></td>
                    </tr>
                    <tr>
                        <td>Beverages</td>
                        <td>C1-1876</td>
                        <td>high</td>
                        <td>20/02/2001</td>
                        <td><button>View</button></td>
                    </tr>
                    <tr>
                        <td>Beverages</td>
                        <td>C1-1876</td>
                        <td>high</td>
                        <td>20/02/2001</td>
                        <td><button>View</button></td>
                    </tr>
                    <tr>
                        <td>Beverages</td>
                        <td>C1-1876</td>
                        <td>high</td>
                        <td>20/02/2001</td>
                        <td><button>View</button></td>
                    </tr>
                </table>
            </article>
        </section>
    </main>
</body>

</html>

